# pip-requirements
streamlit
requests
streamlit-lottie
streamlit-extras
markdown
pillow
mysql
mysql-connector-python
python-dotenv

# SQLite is part of Python's standard library, no installation required
