# pip-requirements
streamlit
requests
streamlit-lottie
streamlit-extras
markdown
pillow
mysql-connector-python
python-dotenv
psycopg2-binary

# SQLite is part of Python's standard library, no installation required
